{{!
    This file is part of Moodle.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_roleremoval/rules_list

    Renders a list of rules.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * newrule
    * rules

    Example context (json):
    {
        "rules": [
            {
                "id": 3,
                "deleteurl": "http://example.com/admin/tool/ruleremoval/deleterule.php?id=3",
                "editurl": "http://example.com/admin/tool/ruleremoval/editrule.php?id=3",
                "viewurl": "http://example.com/admin/tool/ruleremoval/viewrule.php?id=3",
                "rulename": "Rule 1",
                "contextname": "Category: Category 1",
                "contexturl": "http://example.com",
                "rolename": "Manager",
                "enabled": 1,
                "inactivefor": "365 days",
                "notice": "10 days",
                "valid": 1
            },
            {
                "id": 42,
                "deleteurl": "http://example.com/admin/tool/ruleremoval/deleterule.php?id=42",
                "editurl": "http://example.com/admin/tool/ruleremoval/editrule.php?id=42",
                "viewurl": "http://example.com/admin/tool/ruleremoval/viewrule.php?id=42",
                "rulename": "Life, the universe and everything",
                "contextname": "System",
                "contexturl": "http://example.com",
                "rolename": "Teacher",
                "enabled": 0,
                "inactivefor": "20 weeks",
                "notice": "14 days",
                "valid": 1
            },
            {
                "id": 68,
                "deleteurl": "http://example.com/admin/tool/ruleremoval/deleterule.php?id=68",
                "editurl": "http://example.com/admin/tool/ruleremoval/editrule.php?id=68",
                "viewurl": "http://example.com/admin/tool/ruleremoval/viewrule.php?id=68",
                "rulename": "Test rule",
                "contextname": "Course: A random course",
                "contexturl": "http://example.com",
                "rolename": "Non-editing Teacher",
                "enabled": 1,
                "inactivefor": "6 weeks",
                "notice": "12 hours",
                "valid": 0
            }
        ],
        "newrule": "http://example.com/admin/tool/ruleremoval/editrule.php",
        "canedit": 1
    }
}}
<h2>{{#str}}rulelist, tool_roleremoval{{/str}}</h2>
{{#canedit}}<div class="pb-2">
    <a href="{{{newrule}}}" class="btn btn-primary">{{#str}}newrule, tool_roleremoval{{/str}}</a>
</div>{{/canedit}}
{{^rules}}<div class="alert alert-info">{{#str}}norules, tool_roleremoval{{/str}}</div>{{/rules}}
<div>{{#rules}}
    <div class="tool-roleremoval-rule card mb-2">
        <div class="card-header"><h3>{{rulename}}</h3></div>
        <div class="card-body">
            <ul>
                <li><a href="{{{contexturl}}}">{{contextname}}</a></li>
                <li>{{rolename}}</li>
                <li>{{#str}}activatesafter, tool_roleremoval, {{inactivefor}}{{/str}}</li>
                <li>{{#str}}noticeperiod, tool_roleremoval, {{notice}}{{/str}}</li>
            </ul>
            {{#enabled}}<div class="badge badge-success">{{#str}}ruleenabled, tool_roleremoval{{/str}}</div>{{/enabled}}
            {{^enabled}}<div class="badge badge-info">{{#str}}ruledisabled, tool_roleremoval{{/str}}</div>{{/enabled}}
            {{^valid}}<div class="badge badge-danger">{{#str}}ruleinvalid, tool_roleremoval{{/str}}</div>{{/valid}}
        </div>
        <div class="card-footer">
            {{#valid}}<a href="{{{viewurl}}}" class="btn btn-outline-primary">
                {{#str}}viewmatches, tool_roleremoval{{/str}}
            </a>{{/valid}}
            {{#canedit}}
            <a href="{{{editurl}}}" class="btn btn-outline-primary">{{#str}}edit{{/str}}</a>
            <a href="{{{deleteurl}}}" class="btn btn-outline-secondary">{{#str}}delete{{/str}}</a>
            {{/canedit}}
        </div>
    </div>
{{/rules}}</div>
