{{!
    This file is part of Moodle.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_roleremoval/user_list

    Renders a list of matches for a rule.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * newrule
    * rules

    Example context (json):
    {
        "enabled": false,
        "exporturl": "exportmatches.php?id=15",
        "rulename": "Test rule",
        "runurl": "triggerrule.php?id=15",
        "valid": true,
        "notice": "365 days",
        "role": "Editing Teacher",
        "matches": [
            {
                "id": 3,
                "name": "Joe Bloggs",
                "lastaccess": 1631543128,
                "contextname": "Category: Category 1",
                "contexturl": "http://example.com",
                "profileurl": "http://example.com"
            },
            {
                "id": 51,
                "name": "Jane Doe",
                "lastaccess": 1631543128,
                "contextname": "Course: Test 42",
                "contexturl": "http://example.com",
                "profileurl": "http://example.com"
            }
        ]
    }
}}
<h2>{{rulename}}</h2>
<p>{{#str}}rulesummary, tool_roleremoval, {"notice": {{#quote}}{{notice}}{{/quote}}, "role": {{#quote}}{{role}}{{/quote}}} {{/str}}</p>
{{^enabled}}{{#valid}}<div><a href="{{{runurl}}}" class="btn btn-primary">{{#str}}runrule, tool_roleremoval{{/str}}</a></div>{{/valid}}{{/enabled}}
<h3>{{#str}}usersmatchingrule, tool_roleremoval{{/str}}</h3>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">{{#str}}user{{/str}}</th>
            <th scope="col">{{#str}}lastaccess{{/str}}</th>
            <th scope="col">{{#str}}context, tool_roleremoval{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#matches}}<tr>
            <td><a href="{{{profileurl}}}">{{name}}</a></td>
            <td>{{#userdate}}{{lastaccess}}, {{#str}} strftimedate, core_langconfig {{/str}}{{/userdate}}</td>
            <td><a href="{{{contexturl}}}">{{contextname}}</a></td>
        </tr>{{/matches}}
    </tbody>
</table>
<div><a href="{{{exporturl}}}" class="btn btn-outline-primary">{{#str}}exportmatches, tool_roleremoval{{/str}}</a></div>
